<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'WGIdeeApp\favicon.png' %}" rel="icon" type="img/png">
    {% comment %} <link href="{% static 'WGIdeeApp\style.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
    {% block morestatics %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <div class="container-fluid justify-content-start" id="navbarResponsive">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="{% url 'landing_page' %}"> <img src="{% static 'WGIdeeApp\favicon.png' %}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">  WGIdee</a>
          </li>
          <li class="nav-item">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </li>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
              <a class="nav-link me-2 {% block list_state %}{% endblock %}" href="{% url 'list' %}">Alle Ausgaben</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2 {% block persons_state %}{% endblock %}" href="{% url 'persons' %}">Alle Personen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2 {% block ausgleich_state %}{% endblock %}" href="{% url 'ausgleich' %}">Ausgleich</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2 {% block outgoings_state %}{% endblock %}" href="{% url 'outgoings' %}">Neue Ausgabe</a>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text bg-dark me-3">Als {{ user.first_name }} {{ user.last_name }} ({{ user.username }}) eingeloggt</span>
          </li>
          <li class="nav-item">
            <form class="d-flex" action="{% url 'logout' %}" method="POST" role="search">
              {% csrf_token %}
              <button class="form-control shadow-none btn btn-outline-success navbar-btn" type="submit">Logout</button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <form class="d-flex" action="{% url 'login' %}" method="POST" role="search">
              {% csrf_token %}
              <button class="form-control shadow-none btn btn-outline-success navbar-btn" type="submit">Login</button>
            </form>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>