{% extends 'WGIdeeApp/base.html' %}
{% load static %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card text-center shadow border  mt-5" style="width: 50rem;">
                <div class="card-header">
                    <h2>Letzte Ausgaben</h2>
                </div>
                <div class="card-body">
                    {% if recent_Ausgabe %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            {% for a in recent_Ausgabe %}
                                <li class="list-group-item">
                                    <h4>{{ a.Beschreibung }}:            {{ a.Preis|floatformat:2 }} &#8364;   (gezahlt von {{ a.Person.zugew_user.first_name}}  {{ a.Person.zugew_user.last_name }})</h4>
                                </li>
                            {% endfor %}
                            <li class="list-group-item"></li>
                        </ul>
                    {% else %}
                        <h3>Noch keine Ausgaben Verfügbar</31> 
                    {% endif %}
                    <a href="{% url 'list' %}">
                        <button type="submit" class="btn btn-success">Mehr Ausgaben zeigen</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="card text-center shadow border  mt-5" style="width: 50rem;">
                <div class="card-header">
                    <h2>Höchste Schulden</h2> 
                </div>
                <div class="card-body">
                    {% if Person_list %}
                        <ul class="list-group list-group-flush">
                                {% for Person in Person_list %}
                                    <ul class="list-group list-group-horizontal mb-3">
                                        <li class="list-group-item">
                                            <h3>{{ Person.zugew_user.first_name }} {{ Person.zugew_user.last_name }}:</h3>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Hat Geld ausgegeben: {{ Person.wert|floatformat:2 }} &#8364;</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Noch zu Zahlen: {{ Person.debts|floatformat:2 }} &#8364;</p>
                                        </li>
                                    </ul>
                                {% endfor %}
                        </ul>
                    {% else %}
                        <h3>Noch keine Personen Verfügbar</31> 
                    {% endif %}
                    <a href="{% url 'list' %}">
                        <button type="submit" class="btn btn-success">Alle Personen anzeigen</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}  