{% extends 'WGIdeeApp/base.html' %}
{% load static %}
{% block title %}Ausgabenliste{% endblock %}
{% block outgoings_state %}active{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
                <form method="post" action="{% url 'outgoings' %}">
                {% csrf_token %}
                <div class="card text-center shadow border mt-5" style="width: 50rem;">
                    <div class="card-header text-center">
                        <h2>Ausgabe</h2>
                    </div>
                    <div class="card-body">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-3">Ausgabe hinzufügen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}