<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ausgabenliste</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'favicon.png' %}" rel="icon">
</head>
<body>
    <form method="post" action="{% url 'outgoings' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>