{% extends 'WGIdeeApp/base.html' %}
{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form method="post">
                {% csrf_token %}
                <div class="card shadow border mt-5">
                    <div class="card-header text-center">
                        <h2>Registrieren</h2>
                    </div>
                    <div class="card-body">
                        {{form|crispy}}
                        <p>Du hast schon einen Account? Logge dich <a href="{% url 'login' %}">hier</a> ein.</p>
                        <button type="submit" class="btn btn-success">Registrieren</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}